* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero Section */

.hero {
    display: flex;
    flex-basis: 500px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 5px 200px;
}

.cta {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-basis: 600px;
    justify-content: center;
    gap: 20px;
    padding-right: 50px;
    flex: 1;
}

.cta-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.cta-description {
    font-size: 18px;
    color: #e5e7eb;
}

button.sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.placeholder-img {
    display: flex;
    height: 300px;
    flex-basis: 650px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 50px;
    padding: 40px 200px 0px;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.information-columns{
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 0px 250px 0px;
}

.information-columns div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.placeholder-card {
    border: 4px solid blue;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.information-columns p {
    width: 200px;
    text-align: center;
}

/* Quote Section */

.quote {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 0px 450px 0px;
    gap: 10px;
}

p.quote-description {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

p.author-name {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}