* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero Section */

.hero {
    display: flex;
    flex-basis: 500px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 5px 200px;
}

.cta {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-basis: 600px;
    justify-content: center;
    gap: 20px;
    padding-right: 50px;
    flex: 1;
}

.cta-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.cta-description {
    font-size: 18px;
    color: #e5e7eb;
}

button.sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.placeholder-img {
    display: flex;
    height: 300px;
    flex-basis: 650px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
}